2025/03/3cqBQ8a5SILEL8hi.json
{
  "active": true,
  "connections": {
    "JSON Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat": {
      "ai_languageModel": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Gmail Trigger": {
      "main": [
        [
          {
            "node": "Assess if message needs a reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Needs Reply": {
      "main": [
        [
          {
            "node": "Generate email reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Generate email reply",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate email reply": {
      "main": [
        [
          {
            "node": "Gmail - Create Draft",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess if message needs a reply": {
      "main": [
        [
          {
            "node": "If Needs Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-03-23T23:43:33.440Z",
  "id": "3cqBQ8a5SILEL8hi",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CATAFS.SI.GMAIL AI Auto-Responder: Create Draft Replies to incoming emails",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "simple": false,
        "filters": {
          "q": "-from:me"
        },
        "options": {}
      },
      "id": "04e73db2-350a-4e4a-b5df-38cd4032c439",
      "name": "Gmail Trigger",
      "type": "n8n-nodes-base.gmailTrigger",
      "position": [
        -800,
        120
      ],
      "typeVersion": 1,
      "credentials": {
        "gmailOAuth2": {
          "id": "9NoExkRFVF0ZPS4n",
          "name": "Gmail account cataf.si"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "53849246-ad32-4845-9976-9f9688f5a6f2",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              },
              "leftValue": "={{ $json.needsReply }}",
              "rightValue": "true"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "57c3606e-4a0a-4c84-be74-4c0fd6cb0149",
      "name": "If Needs Reply",
      "type": "n8n-nodes-base.if",
      "position": [
        0,
        100
      ],
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsonSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"needsReply\": {\n      \"type\": \"boolean\"\n      }\n  },\n  \"required\": [\"needsReply\"]\n}\n"
      },
      "id": "90d7438d-f14d-4689-95d3-2eb24ad2db32",
      "name": "JSON Parser",
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "position": [
        -140,
        260
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "model": "gpt-4-turbo",
        "options": {
          "responseFormat": "json_object",
          "temperature": 0
        }
      },
      "id": "bcca9cb4-ed9c-4b35-986e-2aaebdede127",
      "name": "OpenAI Chat",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        -340,
        280
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "34CHH48MlmPBcrFa",
          "name": "OpenAi account personel"
        }
      }
    },
    {
      "parameters": {
        "content": "## When I receive an Email\n",
        "height": 394.42512272977456,
        "width": 304.10628068244364
      },
      "id": "81534055-20a1-4064-918a-e5ca0bcc294a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -880,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ... that Needs a Reply\n",
        "height": 397,
        "width": 556
      },
      "id": "3051eb62-d043-4802-be1a-a9e6eeb88e6f",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -580,
        20
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Generate a Reply",
        "height": 400.08454375343996,
        "width": 333.19082443588354
      },
      "id": "6bec9483-2c74-4ac5-a2c1-2e88ac074b93",
      "name": "Sticky Note2",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## ...as a Draft in the conversation",
        "height": 395,
        "width": 326
      },
      "id": "7eb930dd-0317-4644-8e05-08187a8774c5",
      "name": "Sticky Note3",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        660,
        -120
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "32bbefa9-57e5-491c-bdd0-436e8b7219cd",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "position": [
        240,
        220
      ],
      "typeVersion": 1,
      "credentials": {
        "openAiApi": {
          "id": "34CHH48MlmPBcrFa",
          "name": "OpenAi account personel"
        }
      }
    },
    {
      "parameters": {
        "resource": "draft",
        "subject": "=Re: {{ $('Gmail Trigger').item.json.headers.subject }}",
        "emailType": "html",
        "message": "={{ $json.text.replace(/\\n/g, \"<br />\\n\") }}",
        "options": {
          "threadId": "={{ $('Gmail Trigger').item.json.threadId }}",
          "sendTo": "={{ $('Gmail Trigger').item.json.headers.to }}"
        }
      },
      "id": "21bd31f4-1843-46c7-88ef-501a30195427",
      "name": "Gmail - Create Draft",
      "type": "n8n-nodes-base.gmail",
      "position": [
        720,
        60
      ],
      "typeVersion": 2.1,
      "webhookId": "7b8bcf03-55ef-4495-bb72-5d45a777dfb8",
      "credentials": {
        "gmailOAuth2": {
          "id": "9NoExkRFVF0ZPS4n",
          "name": "Gmail account cataf.si"
        }
      }
    },
    {
      "parameters": {
        "prompt": "=Subject: {{ $json.subject }}\nMessage:\n{{ $json.textAsHtml }} ",
        "messages": {
          "messageValues": [
            {
              "message": "Your task is to assess if the message requires a response. Return in JSON format true if it does, false otherwise.|Marketing emails don't require a response. \nEvery mail comming from \"tl;dv\" like \"<no-reply@tldv.io>\" must have a reply by reformuling the body.\nEvery mail comming from calendly, must be reply to the person mail in \"Reply-To:\"\"\" field. extract the data from the variable place it in a specific json field {{$json.emailreply}} for the next node.\nAttention un email avec no-reply ne doit jamais être répondu !"
            }
          ]
        }
      },
      "id": "f0a29584-ce60-479c-8950-88a3fa8c122d",
      "name": "Assess if message needs a reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -340,
        120
      ],
      "typeVersion": 1.3
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Subject: {{ $('Gmail Trigger').item.json.subject }}\nMessage: {{ $('Gmail Trigger').item.json.textAsHtml }}",
        "messages": {
          "messageValues": [
            {
              "message": "=You're a helpful personal assistant and your task is to draft replies on my behalf to my incoming emails. Whenever I provide some text from an email, return an appropriate draft reply for it and nothing else.\nEnsure that the reply is suitable for a professional email setting and addresses the topic in a clear, structured, and detailed manner.\nDo not make things up.\n\nDetailed instructions:\n- Be concise and maintain a business casual tone.\n- Start with \"Bonjour,\", and end with \"Bonne journée\"\n- When replying to yes-no questions, draft 2 responses: one affirmative and one negative separated by \" - - - - - - - OR - - - - - - - \"\n- If you don't know an answer, you can leave placeholders like \"[YOUR_ANSWER_HERE]\".\n- Don't use any special formatting, only plain text.\n- Reply in the same language as the inbound email.\n- get the correct email to send to. order is \n   1/reply to {{ $('Gmail Trigger').item.json.headers['reply-to'] }}\n   2/ from {{ $('Gmail Trigger').item.json.headers.from }}\n   3/ any other field matching adress email format"
            }
          ]
        }
      },
      "id": "cda7903f-17f4-42d1-b54e-b2e0c06018a1",
      "name": "Generate email reply",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        260,
        60
      ],
      "typeVersion": 1.4
    }
  ],
  "pinData": {
    "Gmail Trigger": [
      {
        "json": {
          "id": "196afb2a10f0d08b",
          "threadId": "196afb2a10f0d08b",
          "labelIds": [
            "UNREAD",
            "CATEGORY_UPDATES",
            "INBOX"
          ],
          "sizeEstimate": 63252,
          "headers": {
            "delivered-to": "Delivered-To: catafs.si@gmail.com",
            "received": "Received: by 8e2559ff320e with HTTP id 681c9833c862d4c691c604f6; Thu, 08 May 2025\r\n 11:40:35 GMT",
            "x-google-smtp-source": "X-Google-Smtp-Source: AGHT+IF82R9DFkIw4MtG4u6w0CoXrHwExZWmRgeodwoj6QO9LKfUd+m0+YSPxG1TT38VLHTHLWF0",
            "x-received": "X-Received: by 2002:a05:622a:d0:b0:476:b783:c94d with SMTP id d75a77b69052e-4922795dd96mr99073631cf.35.1746704441794;\r\n        Thu, 08 May 2025 04:40:41 -0700 (PDT)",
            "arc-seal": "ARC-Seal: i=1; a=rsa-sha256; t=1746704441; cv=none;\r\n        d=google.com; s=arc-20240605;\r\n        b=WGn0be19FLJvXkA+28j9dyLm6J7Dg786E0fP29UYcPZYhaa2wKtDDHEom22sQM3UIp\r\n         OuSwPSCH7Np6CrWNl3vu4+nbxaNvYYGTuKTbOH8feiEtbDPX9033H4sBkFhZ9swxQai2\r\n         IxSSInKH24/O1nM2+s+csVPee3PD87FczTMHcUWdhfcl6YtazsoSN7Ng9yLur9uCVlJU\r\n         MoXZRfIXITBR4J8zKNLbWFd4MpA5UKfE9S48RFdEZBc1nXVikXXHrnjcvZbi+NLzgE3v\r\n         bsVDpcRDqFHP75ab4w5orzerYOUSAjfRMxKrBwU81EFSKix8Fkmpl804WG1H1TN6KyaX\r\n         29DQ==",
            "arc-message-signature": "ARC-Message-Signature: i=1; a=rsa-sha256; c=relaxed/relaxed; d=google.com; s=arc-20240605;\r\n        h=content-transfer-encoding:message-id:reply-to:to:from:subject\r\n         :mime-version:date:sender:dkim-signature:dkim-signature;\r\n        bh=4HF4NTBy4SBA57S5Ipz0wxB7J6ui6owagI34AFXFpIU=;\r\n        fh=4p+lSr2D4pDw/lcu0nMa6GZcA69A2p4YuZRqiQsV5FI=;\r\n        b=imNVmUks3EQ6rJXfRLTqMMgNdd5KY5Uim5Bc+I9q/I1YQegzYEFi053vSRlEX5WiII\r\n         CjYdINODzSKQQcLacbZdA6JhnqBSsCBus9/5QggPoCE0ihHJOExQUv3K20W+bU1Ch0h0\r\n         09rsfNgo428zYILdJ/Xi4g7vLKPxpvcka3zYUmMgW/ra0+5ZY/RC5sKzx7W2lUzD885+\r\n         cQ7Nhv/0Y3GeWyz+RgVwP6sAMLi2chUVJmoXe+L/ZExVlZsmIP0rpgmlg4Rc7C5xdtOr\r\n         MoIdVTa64lgS990aWLcvPavA1QBJjmyQ7TmHp3uNmr23423PAxoykJvX19KDzvIiLTHq\r\n         K6vQ==;\r\n        dara=google.com",
            "arc-authentication-results": "ARC-Authentication-Results: i=1; mx.google.com;\r\n       dkim=pass header.i=@mail.zapier.com header.s=mailo header.b=azqkv6k1;\r\n       dkim=pass header.i=@mailgun.org header.s=mg header.b=\"P/jFP++R\";\r\n       spf=pass (google.com: domain of bounce+b129d9.3c0cbb-catafs.si=gmail.com@mail.zapier.com designates 161.38.195.157 as permitted sender) smtp.mailfrom=\"bounce+b129d9.3c0cbb-catafs.si=gmail.com@mail.zapier.com\";\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=mail.zapier.com",
            "return-path": "Return-Path: <bounce+b129d9.3c0cbb-catafs.si=gmail.com@mail.zapier.com>",
            "received-spf": "Received-SPF: pass (google.com: domain of bounce+b129d9.3c0cbb-catafs.si=gmail.com@mail.zapier.com designates 161.38.195.157 as permitted sender) client-ip=161.38.195.157;",
            "authentication-results": "Authentication-Results: mx.google.com;\r\n       dkim=pass header.i=@mail.zapier.com header.s=mailo header.b=azqkv6k1;\r\n       dkim=pass header.i=@mailgun.org header.s=mg header.b=\"P/jFP++R\";\r\n       spf=pass (google.com: domain of bounce+b129d9.3c0cbb-catafs.si=gmail.com@mail.zapier.com designates 161.38.195.157 as permitted sender) smtp.mailfrom=\"bounce+b129d9.3c0cbb-catafs.si=gmail.com@mail.zapier.com\";\r\n       dmarc=pass (p=REJECT sp=REJECT dis=NONE) header.from=mail.zapier.com",
            "dkim-signature": "DKIM-Signature: a=rsa-sha256; v=1; c=relaxed/relaxed; d=mailgun.org; q=dns/txt; s=mg; t=1746704441; x=1746711641;\r\n h=Content-Transfer-Encoding: Content-Type: Message-Id: Reply-To: To: To: From: From: Subject: Subject: Mime-Version: Date: Sender: Sender: X-Feedback-Id;\r\n bh=4HF4NTBy4SBA57S5Ipz0wxB7J6ui6owagI34AFXFpIU=;\r\n b=P/jFP++RRaTHjkQxXSfPZw70K/LL3qeqw3TAahjSs8D4Ds2VNB8n3IFLWUEuigMvygJnBorPEvUFvozUjuAAxsyTH7cOXYcsQPBhwnB10cPvW7s5w+eGOePckRs6w176xDmHN9rpO8SRZ0LIOIK96qNAG9o6nv/Cc4qC5hGZfh0=",
            "x-feedback-id": "X-Feedback-Id: alerts@mail.zapier.com:errorsalert:632ca818cf4e520dc696a978:mailgun",
            "x-mailgun-sending-ip": "X-Mailgun-Sending-Ip: 161.38.195.157",
            "x-mailgun-sending-ip-pool-name": "X-Mailgun-Sending-Ip-Pool-Name: ",
            "x-mailgun-sending-ip-pool": "X-Mailgun-Sending-Ip-Pool: ",
            "x-mailgun-sid": "X-Mailgun-Sid: WyI3YTA1YyIsImNhdGFmcy5zaUBnbWFpbC5jb20iLCIzYzBjYmIiXQ==",
            "sender": "Sender: alerts@mail.zapier.com",
            "date": "Date: Thu, 08 May 2025 11:40:35 +0000",
            "mime-version": "Mime-Version: 1.0",
            "subject": "Subject: [ALERT] Possible error on your Create new Airtable records from newly added\r\n tl;dv transcripts Zap",
            "from": "From: Zapier Alerts <alerts@mail.zapier.com>",
            "to": "To: catafs.si@gmail.com",
            "x-mailgun-tag": "X-Mailgun-Tag: errorsalert",
            "x-mailgun-track-opens": "X-Mailgun-Track-Opens: false",
            "x-mailgun-track-clicks": "X-Mailgun-Track-Clicks: false",
            "x-mailgun-track": "X-Mailgun-Track: true",
            "reply-to": "Reply-To: alerts@mail.zapier.com",
            "x-mailgun-variables": "X-Mailgun-Variables: {\"knock_message_id\": \"2woOPSBEALl3IpyvGxxPC96QCX8\", \"knock_recipient_id\":\r\n \"12471515\", \"sender\": \"knock.app\"}",
            "x-mailgun-template-name": "X-Mailgun-Template-Name: errors_alert",
            "message-id": "Message-Id: <20250508114035.377b8166983e592a@mail.zapier.com>",
            "content-type": "Content-Type: text/html; charset=\"utf-8\"",
            "content-transfer-encoding": "Content-Transfer-Encoding: quoted-printable"
          },
          "html": "<!doctype html>\n<html xmlns=\"http://www.w3.org/1999/xhtml\" xmlns:v=\"urn:schemas-microsoft-com:vml\" xmlns:o=\"urn:schemas-microsoft-com:office:office\">\n<head>\n<title></title>\n<!--[if !mso]><!-->\n<meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n<!--<![endif]-->\n<meta http-equiv=\"Content-Type\" content=\"text/html; charset=UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1\">\n<style type=\"text/css\">\n#outlook a{padding:0;}body{margin:0;padding:0;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}table,td{border-collapse:collapse;mso-table-lspace:0pt;mso-table-rspace:0pt;}img{border:0;height:auto;line-height:100%;outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;}p{display:block;margin:13px 0;}\n</style>\n<!--[if mso]> <noscript><xml><o:OfficeDocumentSettings><o:AllowPNG/><o:PixelsPerInch>96</o:PixelsPerInch></o:OfficeDocumentSettings></xml></noscript>\n<![endif]-->\n<!--[if lte mso 11]>\n<style type=\"text/css\">\n.h{width:100% !important;}\n</style>\n<![endif]-->\n<style type=\"text/css\">\n@media only screen and (min-width:480px){.o{width:100%!important;max-width:100%;}.f{width:126px!important;max-width:126px;}.d{width:340px!important;max-width:340px;}.q{width:88px!important;max-width:88px;}.p{width:388px!important;max-width:388px;}.b{width:410px!important;max-width:410px;}.x{width:24%!important;max-width:24%;}.e{width:76%!important;max-width:76%;}.w{width:50%!important;max-width:50%;}}\n</style>\n<style type=\"text/css\">a[x-apple-data-detectors]{color:inherit!important;text-decoration:none!important;font-size:inherit!important;font-family:inherit!important;font-weight:inherit!important;line-height:inherit!important;}a,table,div,td{transition:background-color 300ms ease-in-out,color 300ms ease-in-out 0s!important;}.i.j a:hover{color:#2B2358!important;}.i.j .z.k .f5q div a:hover{color:#2B2358!important;}.i.j .g td:hover,.i.j .g a:hover{color:#FFFDF9!important;background-color:#2C3266!important;}.s .se>td>table:hover{background-color:#1877F2!important;}.s .m>td>table:hover{background-color:#0976B4!important;}.z.k\n.s .fb>td>table:hover{background-color:#2D2E2E!important;}.s .c>td>table:hover{background-color:#E1306C!important;}.s .c4>td>table:hover{background-color:#FF4A00!important;}.s .z5>td>table:hover{background-color:#E52D27!important;}.h7 .t .f5q>div>a:hover{color:#2D2E2E!important;}.h7 .d3w td:hover{background-color:#F0F1FA!important;background-image:url(https://cdn.zapier.com/storage/photos/07010a672d450d42ec75a3b9322de445.png)!important;}.h7 .d3w a:hover{background-color:transparent!important;color:#2D2E2E!important;}@media all and (max-width:610px){.h7.pj div.pt{width:88px!important;max-width:88px!important;}.h7.pj div.t{width:74%!important;max-width:74%!important;}.h7.xt div.pt{width:134px!important;max-width:134px!important;}.h7.xt div.t{width:60%!important;max-width:60%!important;}}\n@media all and (max-width:600px){.fj .pt{width:25%!important;max-width:25%!important;}.fj .t{width:73%!important;max-width:73%!important;}}\n@media all and (max-width:480px){.i{padding-top:0px!important;padding-bottom:0px!important;}.h1 div{font-size:44.79px!important;line-height:44px!important;}.h4 div{font-size:25.92px!important;line-height:28px!important;}.h6 div{font-size:18px!important;line-height:24px!important;}.eq div{font-size:20px!important;line-height:24px!important;}.g table{width:100%!important;}.g table a{display:block!important;}.u .cu>table>tbody>tr>td,.u .n>table>tbody>tr>td{padding-left:0px!important;padding-right:0px!important;}.u .cu>table>tbody>tr>td{padding-bottom:20px!important;}.np>table>tbody>tr>td,.jxh>table>tbody>tr>td,.u>table>tbody>tr>td,.h7>table>tbody>tr>td,.xl>table>tbody>tr>td{padding-left:20px!important;padding-right:20px!important;}.jxh .xl>table>tbody>tr>td{padding-right:0px!important;padding-left:0px!important;}.t .f5q{padding:20px 0px!important;}.h7 .t>table>tbody>tr>td{padding:0px 0px 0px 20px!important;}.h7.pj div.pt{width:30%!important;max-width:30%!important;}.h7.pj div.t{width:70%!important;max-width:70%!important;}.h7.xt div.pt{width:40%!important;max-width:40%!important;}.h7.xt div.t{width:60%!important;max-width:60%!important;}.z .u>table>tbody>tr>td{padding:0px!important;}.z .s>table>tbody>tr>td{padding:7px 7px!important;}.z .f5q div,.z .u>table>tbody>tr>td{text-align:center!important;}.s{padding:24px 0px!important;}.s,.s>table{text-align:center!important;}.z .l .pv{padding-top:0px!important;padding-bottom:20px!important;}}\n@media all and (max-width:390px){.h7.pj div.pt{width:35%!important;max-width:35%!important;}.h7.pj div.t{width:65%!important;max-width:65%!important;}.h7.xt div.pt{width:50%!important;max-width:50%!important;}.h7.xt div.t{width:50%!important;max-width:50%!important;}}\n</style>\n<style type=\"text/css\">\n@media screen{@font-face{font-family:'Inter';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v8/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;mso-font-alt:'Arial';}@font-face{font-family:'Inter';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v8/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;mso-font-alt:'Arial';}@font-face{font-family:'Inter';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v8/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;mso-font-alt:'Arial';}@font-face{font-family:'Inter';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/inter/v8/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2) format('woff2');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;mso-font-alt:'Arial';}@font-face{font-family:'Degular Display';font-style:normal;font-weight:400;font-display:swap;src:url('https://zapier-fonts-production.s3.amazonaws.com/Degular/DegularDisplay-Medium.woff2') format('woff2');mso-font-alt:'Arial';}@font-face{font-family:'Degular Display';font-style:normal;font-weight:500;font-display:swap;src:url('https://use.typekit.net/af/6381a7/00000000000000007735c864/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3') format('woff2');mso-font-alt:'Arial';}@font-face{font-family:'Degular Display';font-style:normal;font-weight:600;font-display:swap;src:url('https://zapier-fonts-production.s3.amazonaws.com/Degular/DegularDisplay-Semibold.woff2') format('woff2');mso-font-alt:'Arial';}}\n</style>\n<style type=\"text/css\">\n@font-face{font-family:'Fira Code';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/firacode/v17/uU9eCBsR6Z2vfE9aq3bL0fxyUs4tcw4W_D1sJVD7MOzlojwUKQ.woff) format('woff');unicode-range:U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;mso-font-alt:'Courier New';}\n</style><!-- COMPONENT DEFAULT ATTRIBUTES --><!-- Overrides the default attributes for mj-components. -->\n</head>\n<body style=\"word-spacing:normal;background-color:#F7F5F2;\"><div class=\"i j\" style=\"padding-top:40px;padding-bottom:40px;overflow:auto;background-color:#F7F5F2;\"><!-- Insert blank spaces after preview text --><div style=\"display:none;max-height:0px;overflow:hidden;\"> We've identified 1 error that needs your review. </div><!-- Insert &#847;&zwnj;&nbsp; hack after hidden preview text --><div style=\"display:none;max-height:0px;overflow:hidden;\"> &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &#8199;&#847; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &nbsp; </div><!-- HEADER -->\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"np\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-top:1px solid #2D2E2E;border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:24px 40px 30px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr>\n<![endif]--><!-- START HEADER WITH BUTTON --><!-- END HEADER WITH BUTTON --><!-- START HEADER WITH NO BUTTON -->\n<!--[if mso | IE]><td style=\"vertical-align:middle;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:middle;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:middle;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"pv\" style=\"font-size:0px;padding:0px;word-break:break-word;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:121px;\"> <a href=\"https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;\"> <img alt=\"Zapier\" height=\"auto\" src=\"https://cdn.zapier.com/storage/photos/f295f38738d4230fa4e8ca08dcc6de2d.png\" style=\"border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;border:none;\" width=\"121\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td>\n<![endif]--><!-- END HEADER WITH NO BUTTON -->\n<!--[if mso | IE]></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--><!-- END HEADER -->\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;padding-top:0;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"pv\" style=\"font-size:0px;padding:0px;padding-bottom:10px;word-break:break-word;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:40px;\"> <img height=\"auto\" src=\"https://cdn.zapier.com/storage/photos/b4f6d4fed3a5c73ce8e8a3fe6a9a2738_2.png\" style=\"border-radius:0;display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;border:none;\" width=\"40\">\n</td></tr></tbody></table>\n</td></tr><tr><td align=\"left\" class=\"h1\" style=\"font-size:0px;padding:8px 0px;padding-top:0;padding-bottom:20px;word-break:break-word;\"><div style=\"font-family:'Degular Display',Arial,sans-serif;font-size:54.93px;font-weight:600;line-height:56px;text-align:left;color:#201515;\">Zap alert</div>\n</td></tr><tr><td align=\"left\" class=\"eq\" style=\"font-size:0px;padding:8px 0px;padding-top:4px;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-size:20px;font-weight:400;line-height:24px;text-align:left;color:#201515;\">We've identified 1 error that needs your review below.</div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--> <!-- START ZAP -->\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"h7 pj\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;text-align:center;\" align=\"center\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n<![endif]--><!-- Zap Icons -->\n<!--[if mso | IE]><tr><td width=\"600px\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:520px;\" width=\"520\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"fj\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:520px;border-radius:5px 5px 0px 0px;border-top:1px solid #E8E7E4;border-right:1px solid #E8E7E4;border-left:1px solid #E8E7E4;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;border-radius:5px 5px 0px 0px;\" width=\"100%\" bgcolor=\"#fffdf9\"><tbody><tr><td style=\"direction:ltr;font-size:0px;text-align:left;padding:20px;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:88px;\">\n<![endif]--><div class=\"q h pt\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"pv\" style=\"font-size:0px;word-break:break-word;padding:0px;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:88px;padding:0px;\" width=\"88\"> <a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\" target=\"_blank\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;\"> <img height=\"auto\" src=\"https://img1.niftyimages.com/0q5/t-_d/qt1d?trigger.image=https://zapier-images.imgix.net/storage/developer_cli/e9c0d88c9ea305e8e7fd1acc90764b6c_2.png?auto=format%2Ccompress&amp;h=128&amp;ixlib=python-3.0.0&amp;q=50&amp;w=128&action.image=https://zapier-images.imgix.net/storage/developer/c6c8c5e300ef0da0e47b3084e5522f20.png?auto=format%2Ccompress&amp;h=128&amp;ixlib=python-3.0.0&amp;q=50&amp;w=128\" style=\"border-radius:5px;display:block;outline:none;text-decoration:none;height:auto;font-size:13px;width:88px;border:none;\" width=\"88\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td>\n<![endif]--><!-- Zap Title -->\n<!--[if mso | IE]><td style=\"vertical-align:top;width:388px;\">\n<![endif]--><div class=\"p h t\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;background:#FFFDF9;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;background:#FFFDF9;\" width=\"100%\" valign=\"top\"><tbody><tr><td align=\"left\" class=\"f5q\" style=\"font-size:0px;word-break:break-word;padding:0px;padding-left:20px;\"><div style=\"text-align:left;font-family:'Degular Display',Arial,sans-serif;font-size:20px;line-height:26px;font-weight:600;color:#2D2E2E;\"><a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\" style=\"text-decoration:none;font-family:'Degular Display',Arial,sans-serif;font-size:20px;line-height:26px;font-weight:600;color:#2D2E2E;\">Create new Airtable records from newly added tl;dv transcripts</a><br> <span style=\"font-weight:400;font-family:Inter,Arial,sans-serif;font-size:14px;line-height:20px;color:#CE482D;\">Received 1 error</span></div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n</td></tr>\n<![endif]--><!-- Zap Footer -->\n<!--[if mso | IE]><tr><td width=\"600px\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:520px;\" width=\"520\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div style=\"background-color:#fffdf9;margin:0px auto;max-width:520px;border-radius:0px 0px 5px 5px;background:#F7F5F2;border-right:1px solid #E8E7E4;border-left:1px solid #E8E7E4;border-bottom:1px solid #E8E7E4;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background-color:#fffdf9;width:100%;border-radius:0px 0px 5px 5px;background:#F7F5F2;\" width=\"100%\" bgcolor=\"#fffdf9\"><tbody><tr><td style=\"direction:ltr;font-size:0px;text-align:left;padding:0px;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:440px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" vertical-align=\"middle\" class=\"d3w\" style=\"font-size:0px;padding:0px;word-break:break-word;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;width:100%;line-height:100%;border-radius:0px 0px 5px 5px;\" width=\"100%\"><tbody><tr><td align=\"left\" bgcolor=\"#F7F5F2\" role=\"presentation\" style=\"border:none;cursor:auto;mso-padding-alt:22px;text-align:left;background:#FF4F00;border-radius:0px 0px 5px 5px;background-repeat:no-repeat;background-size:24px;background-position:right 20px center;padding-right:44px;font-weight:700;font-size:14px;line-height:20px;color:#2D2E2E;font-family:Inter,Arial,sans-serif;background-color:#F7F5F2;background-image:url(https://cdn.zapier.com/storage/photos/a349c763fbfe1bf79db2e77b11f71e66.png);\" valign=\"middle\" background=\"https://cdn.zapier.com/storage/photos/a349c763fbfe1bf79db2e77b11f71e66.png\"> <a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\" style=\"margin:0;text-decoration:none;text-transform:none;padding:22px;mso-padding-alt:0px;border-radius:0px 0px 5px 5px;background-color:none;display:block;font-weight:700;font-size:14px;line-height:20px;font-family:Inter,Arial,sans-serif;background:none;color:#2D2E2E;\" target=\"_blank\"> Edit this Zap </a>\n</td></tr></tbody></table>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--><!-- END ZAP --><!-- START ERROR LIST -->\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;padding-bottom:0px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"h4\" style=\"font-size:0px;padding:32px 0px 12px;padding-top:0px;padding-bottom:0px;word-break:break-word;\"><div style=\"font-family:'Degular Display',Arial,sans-serif;font-size:28.13px;font-weight:600;letter-spacing:0.2px;line-height:28px;text-align:left;color:#201515;\">Error summary</div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--> \n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:410px;\">\n<![endif]--><div class=\"b h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"h6\" style=\"font-size:0px;padding:8px 0px;word-break:break-word;\"><div style=\"font-family:'Degular Display',Arial,sans-serif;font-size:18px;font-weight:600;letter-spacing:0.2px;line-height:22px;text-align:left;color:#201515;\">Airtable</div>\n</td></tr><tr><td align=\"left\" style=\"font-size:0px;padding:8px 0px;word-break:break-word;\"><div style=\"border-radius:5px;padding:2px 8px;mso-padding-alt:2px 8px;display:inline-block;background:#FADFD9;font-size:14px;font-weight:400;line-height:16px;text-align:left;font-family:Inter,Arial,sans-serif;color:#B83519;\">The app returned &quot;Unknown field name: &quot;Thomas Bernard et CanigouIA&quot;&quot;.</div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--> \n      <!-- START ZAP HISTORY -->\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;padding-top:0px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"f5q\" style=\"font-size:0px;padding:8px 0px;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#2D2E2E;\">Find more information on the Zap run details page.</div>\n</td></tr><tr><td align=\"left\" vertical-align=\"middle\" class=\"g\" style=\"font-size:0px;padding:20px 0px;padding-bottom:0px;word-break:break-word;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\"><tbody><tr><td align=\"center\" bgcolor=\"#3d4592\" role=\"presentation\" style=\"border:none;cursor:auto;mso-padding-alt:12px 20px;background:#FF4F00;background-color:#3d4592;border-radius:3px;\" valign=\"middle\"> <a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/run/00be4569-7f2a-a6c9-e65d-4769939088d1%3Fsidebar%3Druns%26filterRun%3Dtrue%26action_error%26utm_medium%3Demail%26utm_source%3Dmailgun%26utm_campaign%3Dmlgn-gbl-notif-txn-errors_alert\" style=\"display:inline-block;background:#FF4F00;color:#FFFDF9;font-family:Inter,Arial,sans-serif;font-size:16px;font-weight:600;line-height:20px;margin:0;text-decoration:none;text-transform:none;padding:12px 20px;mso-padding-alt:0px;background-color:#3d4592;border-radius:3px;\" target=\"_blank\"> Troubleshoot Zap run </a>\n</td></tr></tbody></table>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--><!-- END ZAP HISTORY -->\n    \n\n    \n\n    \n\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"h4\" style=\"font-size:0px;padding:32px 0px 12px;padding-top:0px;padding-bottom:0px;word-break:break-word;\"><div style=\"font-family:'Degular Display',Arial,sans-serif;font-size:28.13px;font-weight:600;letter-spacing:0.2px;line-height:28px;text-align:left;color:#201515;\">Other ways to troubleshoot</div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;padding-bottom:8px;padding-top:0px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"f5q\" style=\"font-size:0px;padding:8px 0px;padding-bottom:0px;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#2D2E2E;\"><ul style=\"Margin:0px;Margin-left:20px;padding:0px;padding-bottom:12px;padding-top:0px;\">  <li style=\"padding-bottom:12px;\"> <strong style=\"font-weight:600;\">Already know how to fix this error?</strong><br> If you think you know how to fix the issue, go for it!<br> <a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;padding-top:12px;padding-bottom:8px;display:inline-block;\">Edit your Zap</a></li><li style=\"padding-bottom:12px;\"> <strong style=\"font-weight:600;\">Check for current incidents</strong><br> Check our status page for known issues that may be affecting the performance of your apps and subscribe to updates.<br> <a href=\"https://status.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;padding-top:12px;padding-bottom:8px;display:inline-block;\">Check our status page</a></li> \n               <li style=\"padding-bottom:12px;\"> <strong style=\"font-weight:600;\">Common Airtable problems</strong><br> Check the help page for common problems with Airtable.<br> <a href=\"https://help.zapier.com/hc/en-us/search?query=Airtable&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;padding-top:12px;padding-bottom:8px;display:inline-block;\">Common problems with Airtable</a></li> \n             <li style=\"padding-bottom:12px;\"> <strong style=\"font-weight:600;\">Learn how to troubleshoot Zap errors</strong><br> Check out our guide to troubleshooting your Zaps to learn how to solve common problems with Zap errors.<br> <a href=\"https://help.zapier.com/hc/en-us/articles/8496037690637?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;padding-top:12px;display:inline-block;\">View Zap troubleshooting guide</a></li>  </ul></div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--> \n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"h4\" style=\"font-size:0px;padding:32px 0px 12px;padding-top:0px;word-break:break-word;\"><div style=\"font-family:'Degular Display',Arial,sans-serif;font-size:28.13px;font-weight:600;letter-spacing:0.2px;line-height:28px;text-align:left;color:#201515;\">Still having issues with this Zap?</div>\n</td></tr><tr><td align=\"left\" vertical-align=\"middle\" class=\"g\" style=\"font-size:0px;padding:20px 0px;word-break:break-word;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:separate;line-height:100%;\"><tbody><tr><td align=\"center\" bgcolor=\"#3d4592\" role=\"presentation\" style=\"border:none;cursor:auto;mso-padding-alt:12px 20px;background:#FF4F00;background-color:#3d4592;border-radius:3px;\" valign=\"middle\"> <a href=\"https://zapier.com/app/contact-us/zap/292358739?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\" style=\"display:inline-block;background:#FF4F00;color:#FFFDF9;font-family:Inter,Arial,sans-serif;font-size:16px;font-weight:600;line-height:20px;margin:0;text-decoration:none;text-transform:none;padding:12px 20px;mso-padding-alt:0px;background-color:#3d4592;border-radius:3px;\" target=\"_blank\"> Contact Support </a>\n</td></tr></tbody></table>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--> \n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;background-color:#fffdf9;margin:0px auto;max-width:600px;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;background-color:#fffdf9;width:100%;\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:20px 40px;padding-bottom:40px;padding-top:0;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" style=\"font-size:0px;padding:8px 0px;padding-top:0;padding-bottom:0;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-size:14px;font-weight:400;line-height:20px;text-align:left;color:#2D2E2E;\"><a href=\"https://zapier.com/app/settings/12469609/notifications?utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\" style=\"font-weight:600;text-decoration:underline;color:#3D4592;\">Edit error notification settings</a> to customize how often to receive them.</div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--> <!-- END BODY SECTION --><!-- START FOOTER --><!-- To override component and manually see marketing footer --><!-- To override component and manually see transactional footer -->\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:600px;\" width=\"600\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"jxh z k\" style=\"background:#fffdf9;margin:0px auto;max-width:600px;background-color:#FFFDF9;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;width:100%;font-size:14px;background-color:#FFFDF9;\" width=\"100%\" bgcolor=\"#FFFDF9\"><tbody><tr><td style=\"border-bottom:1px solid #2D2E2E;border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;padding:20px 40px;padding-bottom:40px;padding-top:30px;text-align:center;font-size:14px;\" align=\"center\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\">\n<![endif]--><!-- START FOOTER -->\n<!--[if mso | IE]><tr><td width=\"600px\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:520px;\" width=\"520\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"u l\" style=\"background:#fffdf9;margin:0px auto;max-width:520px;background-color:#FFFDF9;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;width:100%;background-color:#FFFDF9;\" width=\"100%\" bgcolor=\"#FFFDF9\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:ltr;font-size:0px;padding:0;text-align:left;border:none;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:124.8px;\">\n<![endif]--><div class=\"x h cu\" style=\"text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;font-size:14px;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"center\" class=\"pv\" style=\"padding:0;word-break:break-word;font-size:14px;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"border-collapse:collapse;border-spacing:0px;\"><tbody><tr><td style=\"width:121px;\"> <a href=\"https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img alt=\"Zapier logo\" height=\"auto\" src=\"https://cdn.zapier.com/storage/photos/dafbfb5948ef168a7ebb5492d1c00ebf.png\" style=\"display:block;outline:none;text-decoration:none;height:auto;width:100%;font-size:13px;border-radius:5px;border:none;\" width=\"121\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td><td style=\"vertical-align:bottom;width:395.2px;\">\n<![endif]--><div class=\"e h n\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:bottom;\" width=\"100%\"><tbody><tr><td align=\"right\" class=\"f5q\" style=\"font-size:0px;padding:0;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-size:16px;line-height:24px;text-align:right;color:#2D2E2E;font-weight:600;\">Got a question? <a href=\"https://community.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" style=\"text-decoration:underline;color:#3D4592;font-weight:600;\">Ask in our community</a></div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n</td></tr><tr><td width=\"600px\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:520px;\" width=\"520\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"u\" style=\"background:#fffdf9;margin:0px auto;max-width:520px;background-color:#FFFDF9;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;width:100%;background-color:#FFFDF9;\" width=\"100%\" bgcolor=\"#FFFDF9\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;direction:rtl;font-size:0px;padding:56px 0 0;text-align:left;border:none;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:bottom;width:260px;\">\n<![endif]--><div class=\"w h n\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:bottom;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:bottom;\" width=\"100%\"><tbody><tr><td align=\"center\" class=\"s\" style=\"font-size:0px;padding:0px;word-break:break-word;\">\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\"><tr><td>\n<![endif]-->\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tbody><tr class=\"se\"><td style=\"padding:0px 7px 0px 0px;vertical-align:middle;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:30px;border-radius:50%;background-color:#A8A5A0;\" width=\"30\" bgcolor=\"#A8A5A0\"><tbody><tr><td style=\"padding:0px;font-size:0;height:30px;vertical-align:middle;width:30px;\"> <a href=\"https://www.facebook.com/ZapierApp/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img height=\"30\" src=\"https://cdn.zapier.com/storage/photos/c64d21d5175e985c7b824520856e64c2.png\" style=\"border-radius:3px;display:block;\" width=\"30\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table>\n<!--[if mso | IE]>\n</td><td>\n<![endif]-->\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tbody><tr class=\"m\"><td style=\"padding:0px 7px 0px 7px;vertical-align:middle;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:30px;border-radius:50%;background-color:#A8A5A0;\" width=\"30\" bgcolor=\"#A8A5A0\"><tbody><tr><td style=\"padding:0px;font-size:0;height:30px;vertical-align:middle;width:30px;\"> <a href=\"https://www.linkedin.com/company/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img height=\"30\" src=\"https://cdn.zapier.com/storage/photos/47b41340a287287a32f171b113c14934.png\" style=\"border-radius:3px;display:block;\" width=\"30\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table>\n<!--[if mso | IE]>\n</td><td>\n<![endif]-->\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tbody><tr class=\"fb\"><td style=\"padding:0px 7px 0px 7px;vertical-align:middle;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:30px;border-radius:50%;background-color:#A8A5A0;\" width=\"30\" bgcolor=\"#A8A5A0\"><tbody><tr><td style=\"padding:0px;font-size:0;height:30px;vertical-align:middle;width:30px;\"> <a href=\"https://twitter.com/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img height=\"30\" src=\"https://cdn.zapier.com/storage/photos/b96aa11968fef895461a2817af4c685d.png\" style=\"border-radius:3px;display:block;\" width=\"30\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table>\n<!--[if mso | IE]>\n</td><td>\n<![endif]-->\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tbody><tr class=\"c\"><td style=\"padding:0px 7px 0px 7px;vertical-align:middle;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:30px;border-radius:50%;background-color:#A8A5A0;\" width=\"30\" bgcolor=\"#A8A5A0\"><tbody><tr><td style=\"padding:0px;font-size:0;height:30px;vertical-align:middle;width:30px;\"> <a href=\"https://www.instagram.com/zapier/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img height=\"30\" src=\"https://cdn.zapier.com/storage/photos/66405d671c2e17d062cc727d2ec226b5.png\" style=\"border-radius:3px;display:block;\" width=\"30\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table>\n<!--[if mso | IE]>\n</td><td>\n<![endif]-->\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tbody><tr class=\"z5\"><td style=\"padding:0px 7px 0px 7px;vertical-align:middle;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:30px;border-radius:50%;background-color:#A8A5A0;\" width=\"30\" bgcolor=\"#A8A5A0\"><tbody><tr><td style=\"padding:0px;font-size:0;height:30px;vertical-align:middle;width:30px;\"> <a href=\"https://www.youtube.com/@Zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img height=\"30\" src=\"https://cdn.zapier.com/storage/photos/fae29b7bf5c5910e1b077cc8a8ca001c.png\" style=\"border-radius:3px;display:block;\" width=\"30\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table>\n<!--[if mso | IE]>\n</td><td>\n<![endif]-->\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"float:none;display:inline-table;\"><tbody><tr class=\"c4\"><td style=\"padding:0px 0px 0px 7px;vertical-align:middle;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:30px;border-radius:50%;background-color:#A8A5A0;\" width=\"30\" bgcolor=\"#A8A5A0\"><tbody><tr><td style=\"padding:0px;font-size:0;height:30px;vertical-align:middle;width:30px;\"> <a href=\"https://zapier.com/blog/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" target=\"_blank\" style=\"text-decoration:underline;color:#3D4592;font-weight:400;\"> <img height=\"30\" src=\"https://cdn.zapier.com/storage/photos/0dd2591859dcb40a4e7e65d1ab9315f4.png\" style=\"border-radius:3px;display:block;\" width=\"30\"></a>\n</td></tr></tbody></table>\n</td></tr></tbody></table>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td><td style=\"vertical-align:top;width:260px;\">\n<![endif]--><div class=\"w h cu\" style=\"text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;font-size:14px;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"left\" class=\"f5q\" style=\"padding:0;word-break:break-word;font-size:14px;\"><div style=\"font-family:Inter,Arial,sans-serif;font-size:16px;font-weight:400;line-height:24px;text-align:left;color:#2D2E2E;\">&copy; 2025 Zapier, Inc.<br> All rights reserved.<br> <a style=\"font-weight:400;color:#2D2E2E;color:inherit;text-decoration:none;pointer-events:none;\">548 Market St #62411,<br> San Francisco, CA <span style=\"white-space:nowrap;\">94104-5401</span></a></div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n</td></tr><tr><td width=\"600px\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"width:520px;\" width=\"520\" bgcolor=\"#fffdf9\"><tr><td style=\"line-height:0px;font-size:0px;mso-line-height-rule:exactly;\">\n<![endif]--><div class=\"xl\" style=\"background:#fffdf9;margin:0px auto;max-width:520px;background-color:#FFFDF9;\">\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"background:#fffdf9;width:100%;background-color:#FFFDF9;\" width=\"100%\" bgcolor=\"#FFFDF9\"><tbody><tr><td style=\"border-left:1px solid #2D2E2E;border-right:1px solid #2D2E2E;border:none;direction:ltr;font-size:0px;padding:0;text-align:left;\" align=\"left\">\n<!--[if mso | IE]>\n<table role=\"presentation\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\"><tr><td style=\"vertical-align:top;width:520px;\">\n<![endif]--><div class=\"o h\" style=\"font-size:0px;text-align:left;direction:ltr;display:inline-block;vertical-align:top;width:100%;\">\n<table border=\"0\" cellpadding=\"0\" cellspacing=\"0\" role=\"presentation\" style=\"vertical-align:top;\" width=\"100%\"><tbody><tr><td align=\"center\" style=\"font-size:0px;padding:24px 0;word-break:break-word;\"><p style=\"font-size:1px;margin:0px auto;width:100%;border-top:1px solid #2D2E2E;\"></p>\n<!--[if mso | IE]>\n<table align=\"center\" border=\"0\" cellpadding=\"0\" cellspacing=\"0\" style=\"border-top:solid 1px #2D2E2E;font-size:1px;margin:0px auto;width:520px;\" role=\"presentation\" width=\"520px\"><tr><td style=\"height:0;line-height:0;\"> &nbsp;\n</td></tr></table>\n<![endif]-->\n</td></tr><tr><td align=\"center\" class=\"f5q\" style=\"font-size:0px;padding:0px;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-weight:400;line-height:24px;text-align:center;color:#2D2E2E;font-size:14px;\">You received this email because you signed up for Zapier.</div>\n</td></tr><tr><td align=\"center\" class=\"f5q\" style=\"font-size:0px;padding:8px 0px;padding-bottom:0;word-break:break-word;\"><div style=\"font-family:Inter,Arial,sans-serif;font-weight:400;line-height:24px;text-align:center;color:#2D2E2E;font-size:14px;\"><a href=\"https://zapier.com/privacy?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" style=\"text-decoration:underline;font-weight:400;color:#3D4592;font-size:14px;\">Privacy\npolicy</a>&nbsp; &nbsp;<a href=\"https://zapier.com/app/contact-us?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\" style=\"text-decoration:underline;font-weight:400;color:#3D4592;font-size:14px;\">Contact us</a></div>\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n</td></tr>\n<![endif]--><!-- END FOOTER -->\n<!--[if mso | IE]></table>\n<![endif]-->\n</td></tr></tbody></table></div>\n<!--[if mso | IE]>\n</td></tr></table>\n<![endif]--></div>\n</body>\n</html>\n",
          "text": "We've identified 1 error that needs your review.\n ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏\n ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏\n ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏\n ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏\n ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏  ͏\n ͏  ͏  ͏ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­\n­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­\n­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­\n­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­ ­  \n\nZapier\n[https://cdn.zapier.com/storage/photos/f295f38738d4230fa4e8ca08dcc6de2d.png]https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n[https://cdn.zapier.com/storage/photos/b4f6d4fed3a5c73ce8e8a3fe6a9a2738_2.png]\n\nZap alert\nWe've identified 1 error that needs your review below.\n\n[https://img1.niftyimages.com/0q5/t-_d/qt1d?trigger.image=https://zapier-images.imgix.net/storage/developer_cli/e9c0d88c9ea305e8e7fd1acc90764b6c_2.png?auto=format%2Ccompress&h=128&ixlib=python-3.0.0&q=50&w=128&action.image=https://zapier-images.imgix.net/storage/developer/c6c8c5e300ef0da0e47b3084e5522f20.png?auto=format%2Ccompress&h=128&ixlib=python-3.0.0&q=50&w=128]https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\n\nCreate new Airtable records from newly added tl;dv transcripts\n[https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error]\nReceived 1 error\n\nEdit this Zap\n[https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error]\n\nError summary\n\nAirtable\nThe app returned \"Unknown field name: \"Thomas Bernard et CanigouIA\"\".\n\nFind more information on the Zap run details page.\n\nTroubleshoot Zap run\n[https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/run/00be4569-7f2a-a6c9-e65d-4769939088d1%3Fsidebar%3Druns%26filterRun%3Dtrue%26action_error%26utm_medium%3Demail%26utm_source%3Dmailgun%26utm_campaign%3Dmlgn-gbl-notif-txn-errors_alert]\n\nOther ways to troubleshoot\n\n * Already know how to fix this error?\n   If you think you know how to fix the issue, go for it!\n   Edit your Zap\n   [https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error]\n * Check for current incidents\n   Check our status page for known issues that may be affecting the performance\n   of your apps and subscribe to updates.\n   Check our status page\n   [https://status.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun]\n * Common Airtable problems\n   Check the help page for common problems with Airtable.\n   Common problems with Airtable\n   [https://help.zapier.com/hc/en-us/search?query=Airtable&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun]\n * Learn how to troubleshoot Zap errors\n   Check out our guide to troubleshooting your Zaps to learn how to solve common\n   problems with Zap errors.\n   View Zap troubleshooting guide\n   [https://help.zapier.com/hc/en-us/articles/8496037690637?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun]\n\nStill having issues with this Zap?\n\nContact Support\n[https://zapier.com/app/contact-us/zap/292358739?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error]\n\nEdit error notification settings\n[https://zapier.com/app/settings/12469609/notifications?utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error]\nto customize how often to receive them.\n\nZapier logo\n[https://cdn.zapier.com/storage/photos/dafbfb5948ef168a7ebb5492d1c00ebf.png]https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\nGot a question? Ask in our community\n[https://community.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun]\n\n[https://cdn.zapier.com/storage/photos/c64d21d5175e985c7b824520856e64c2.png]https://www.facebook.com/ZapierApp/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n[https://cdn.zapier.com/storage/photos/47b41340a287287a32f171b113c14934.png]https://www.linkedin.com/company/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n[https://cdn.zapier.com/storage/photos/b96aa11968fef895461a2817af4c685d.png]https://twitter.com/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n[https://cdn.zapier.com/storage/photos/66405d671c2e17d062cc727d2ec226b5.png]https://www.instagram.com/zapier/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n[https://cdn.zapier.com/storage/photos/fae29b7bf5c5910e1b077cc8a8ca001c.png]https://www.youtube.com/@Zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n[https://cdn.zapier.com/storage/photos/0dd2591859dcb40a4e7e65d1ab9315f4.png]https://zapier.com/blog/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\n\n© 2025 Zapier, Inc.\nAll rights reserved.\n548 Market St #62411,\nSan Francisco, CA 94104-5401\n\nYou received this email because you signed up for Zapier.\nPrivacy policy\n[https://zapier.com/privacy?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun] \n Contact us\n[https://zapier.com/app/contact-us?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun]",
          "textAsHtml": "<p>We&apos;ve identified 1 error that needs your review.<br/>&numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F;<br/>&numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F;<br/>&numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F;<br/>&numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F;<br/>&numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F;<br/>&numsp;&#x34F; &numsp;&#x34F; &numsp;&#x34F; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy;<br/>&shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy;<br/>&shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy;<br/>&shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &shy; &nbsp;</p><p>Zapier<br/>[<a href=\"https://cdn.zapier.com/storage/photos/f295f38738d4230fa4e8ca08dcc6de2d.png\">https://cdn.zapier.com/storage/photos/f295f38738d4230fa4e8ca08dcc6de2d.png</a>]<a href=\"https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>[<a href=\"https://cdn.zapier.com/storage/photos/b4f6d4fed3a5c73ce8e8a3fe6a9a2738_2.png\">https://cdn.zapier.com/storage/photos/b4f6d4fed3a5c73ce8e8a3fe6a9a2738_2.png</a>]</p><p>Zap alert<br/>We&apos;ve identified 1 error that needs your review below.</p><p>[<a href=\"https://img1.niftyimages.com/0q5/t-_d/qt1d?trigger.image=https://zapier-images.imgix.net/storage/developer_cli/e9c0d88c9ea305e8e7fd1acc90764b6c_2.png?auto=format%2Ccompress&h=128&ixlib=python-3.0.0&q=50&w=128&action.image=https://zapier-images.imgix.net/storage/developer/c6c8c5e300ef0da0e47b3084e5522f20.png?auto=format%2Ccompress&h=128&ixlib=python-3.0.0&q=50&w=128\">https://img1.niftyimages.com/0q5/t-_d/qt1d?trigger.image=https://zapier-images.imgix.net/storage/developer_cli/e9c0d88c9ea305e8e7fd1acc90764b6c_2.png?auto=format%2Ccompress&h=128&ixlib=python-3.0.0&q=50&w=128&action.image=https://zapier-images.imgix.net/storage/developer/c6c8c5e300ef0da0e47b3084e5522f20.png?auto=format%2Ccompress&h=128&ixlib=python-3.0.0&q=50&w=128</a>]<a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\">https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error</a></p><p>Create new Airtable records from newly added tl;dv transcripts<br/>[<a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\">https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error</a>]<br/>Received 1 error</p><p>Edit this Zap<br/>[<a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\">https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error</a>]</p><p>Error summary</p><p>Airtable<br/>The app returned &quot;Unknown field name: &quot;Thomas Bernard et CanigouIA&quot;&quot;.</p><p>Find more information on the Zap run details page.</p><p>Troubleshoot Zap run<br/>[<a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/run/00be4569-7f2a-a6c9-e65d-4769939088d1%3Fsidebar%3Druns%26filterRun%3Dtrue%26action_error%26utm_medium%3Demail%26utm_source%3Dmailgun%26utm_campaign%3Dmlgn-gbl-notif-txn-errors_alert\">https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/run/00be4569-7f2a-a6c9-e65d-4769939088d1%3Fsidebar%3Druns%26filterRun%3Dtrue%26action_error%26utm_medium%3Demail%26utm_source%3Dmailgun%26utm_campaign%3Dmlgn-gbl-notif-txn-errors_alert</a>]</p><p>Other ways to troubleshoot</p><p> * Already know how to fix this error?<br/>   If you think you know how to fix the issue, go for it!<br/>   Edit your Zap<br/>   [<a href=\"https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\">https://zapier.com/switch-account?account=12469609&next=https://zapier.com/editor/292358739/published?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error</a>]<br/> * Check for current incidents<br/>   Check our status page for known issues that may be affecting the performance<br/>   of your apps and subscribe to updates.<br/>   Check our status page<br/>   [<a href=\"https://status.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://status.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a>]<br/> * Common Airtable problems<br/>   Check the help page for common problems with Airtable.<br/>   Common problems with Airtable<br/>   [<a href=\"https://help.zapier.com/hc/en-us/search?query=Airtable&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://help.zapier.com/hc/en-us/search?query=Airtable&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a>]<br/> * Learn how to troubleshoot Zap errors<br/>   Check out our guide to troubleshooting your Zaps to learn how to solve common<br/>   problems with Zap errors.<br/>   View Zap troubleshooting guide<br/>   [<a href=\"https://help.zapier.com/hc/en-us/articles/8496037690637?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://help.zapier.com/hc/en-us/articles/8496037690637?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a>]</p><p>Still having issues with this Zap?</p><p>Contact Support<br/>[<a href=\"https://zapier.com/app/contact-us/zap/292358739?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\">https://zapier.com/app/contact-us/zap/292358739?context=12469609&utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error</a>]</p><p>Edit error notification settings<br/>[<a href=\"https://zapier.com/app/settings/12469609/notifications?utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error\">https://zapier.com/app/settings/12469609/notifications?utm_source=mailgun&utm_medium=email&utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error</a>]<br/>to customize how often to receive them.</p><p>Zapier logo<br/>[<a href=\"https://cdn.zapier.com/storage/photos/dafbfb5948ef168a7ebb5492d1c00ebf.png\">https://cdn.zapier.com/storage/photos/dafbfb5948ef168a7ebb5492d1c00ebf.png</a>]<a href=\"https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>Got a question? Ask in our community<br/>[<a href=\"https://community.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://community.zapier.com/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a>]</p><p>[<a href=\"https://cdn.zapier.com/storage/photos/c64d21d5175e985c7b824520856e64c2.png\">https://cdn.zapier.com/storage/photos/c64d21d5175e985c7b824520856e64c2.png</a>]<a href=\"https://www.facebook.com/ZapierApp/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://www.facebook.com/ZapierApp/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>[<a href=\"https://cdn.zapier.com/storage/photos/47b41340a287287a32f171b113c14934.png\">https://cdn.zapier.com/storage/photos/47b41340a287287a32f171b113c14934.png</a>]<a href=\"https://www.linkedin.com/company/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://www.linkedin.com/company/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>[<a href=\"https://cdn.zapier.com/storage/photos/b96aa11968fef895461a2817af4c685d.png\">https://cdn.zapier.com/storage/photos/b96aa11968fef895461a2817af4c685d.png</a>]<a href=\"https://twitter.com/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://twitter.com/zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>[<a href=\"https://cdn.zapier.com/storage/photos/66405d671c2e17d062cc727d2ec226b5.png\">https://cdn.zapier.com/storage/photos/66405d671c2e17d062cc727d2ec226b5.png</a>]<a href=\"https://www.instagram.com/zapier/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://www.instagram.com/zapier/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>[<a href=\"https://cdn.zapier.com/storage/photos/fae29b7bf5c5910e1b077cc8a8ca001c.png\">https://cdn.zapier.com/storage/photos/fae29b7bf5c5910e1b077cc8a8ca001c.png</a>]<a href=\"https://www.youtube.com/@Zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://www.youtube.com/@Zapier?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>[<a href=\"https://cdn.zapier.com/storage/photos/0dd2591859dcb40a4e7e65d1ab9315f4.png\">https://cdn.zapier.com/storage/photos/0dd2591859dcb40a4e7e65d1ab9315f4.png</a>]<a href=\"https://zapier.com/blog/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://zapier.com/blog/?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a></p><p>&copy; 2025 Zapier, Inc.<br/>All rights reserved.<br/>548 Market St #62411,<br/>San Francisco, CA 94104-5401</p><p>You received this email because you signed up for Zapier.<br/>Privacy policy<br/>[<a href=\"https://zapier.com/privacy?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://zapier.com/privacy?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a>]&nbsp;<br/>&nbsp;Contact us<br/>[<a href=\"https://zapier.com/app/contact-us?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun\">https://zapier.com/app/contact-us?utm_campaign=mlgn-gbl-notif-txn-errors_alert&utm_content=action_error&utm_medium=email&utm_source=mailgun</a>]</p>",
          "subject": "[ALERT] Possible error on your Create new Airtable records from newly added tl;dv transcripts Zap",
          "date": "2025-05-08T11:40:35.000Z",
          "to": {
            "value": [
              {
                "address": "catafs.si@gmail.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:catafs.si@gmail.com\" class=\"mp_address_email\">catafs.si@gmail.com</a></span>",
            "text": "catafs.si@gmail.com"
          },
          "from": {
            "value": [
              {
                "address": "alerts@mail.zapier.com",
                "name": "Zapier Alerts"
              }
            ],
            "html": "<span class=\"mp_address_group\"><span class=\"mp_address_name\">Zapier Alerts</span> &lt;<a href=\"mailto:alerts@mail.zapier.com\" class=\"mp_address_email\">alerts@mail.zapier.com</a>&gt;</span>",
            "text": "\"Zapier Alerts\" <alerts@mail.zapier.com>"
          },
          "messageId": "<20250508114035.377b8166983e592a@mail.zapier.com>",
          "replyTo": {
            "value": [
              {
                "address": "alerts@mail.zapier.com",
                "name": ""
              }
            ],
            "html": "<span class=\"mp_address_group\"><a href=\"mailto:alerts@mail.zapier.com\" class=\"mp_address_email\">alerts@mail.zapier.com</a></span>",
            "text": "alerts@mail.zapier.com"
          }
        }
      }
    ]
  },
  "repo_name": "CanigouIA",
  "repo_owner": "terryble66",
  "repo_path": "2025/03/3cqBQ8a5SILEL8hi.json",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Gmail Trigger": {
      "lastTimeChecked": 1747083996,
      "possibleDuplicates": [
        "196c65230a83879a",
        "196c5c5828c93331"
      ]
    }
  },
  "tags": [
    {
      "createdAt": "2025-03-05T15:28:20.007Z",
      "updatedAt": "2025-03-05T15:28:20.007Z",
      "id": "cfigyCPgKPA7AtUH",
      "name": "Gmail"
    },
    {
      "createdAt": "2025-03-23T23:43:46.268Z",
      "updatedAt": "2025-03-23T23:43:46.268Z",
      "id": "P27miNQmZPwFMYYi",
      "name": "Response"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-05-08T11:51:00.052Z",
  "versionId": "f549e9fe-d0f2-4870-8d6b-298435853c08"
}