2025/04/4IFFl6N4MPBnecov.json
{
  "active": true,
  "connections": {
    "Extraire données de l'événement": {
      "main": [
        [
          {
            "node": "Rechercher Client dans Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rechercher Client dans Airtable": {
      "main": [
        [
          {
            "node": "IF Client Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Client Existe": {
      "main": [
        [
          {
            "node": "Créer Opportunité",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Déclencheur Manuel": {
      "main": [
        [
          {
            "node": "Configuration Initiale",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Configuration Initiale": {
      "main": [
        []
      ]
    },
    "Créer Opportunité": {
      "main": [
        [
          {
            "node": "Créer Rendez-vous",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Créer Rendez-vous": {
      "main": [
        [
          {
            "node": "Journal d'événements",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        []
      ]
    },
    "Google Calendar Trigger": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Calendar Trigger1": {
      "main": [
        [
          {
            "node": "Google Calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable": {
      "main": [
        [
          {
            "node": "Rechercher Client dans Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Extraire données de l'événement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-04-29T09:13:09.676Z",
  "id": "4IFFl6N4MPBnecov",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "CanigouIA.CRM.RDV.PROD.v1",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "title-field",
              "name": "title",
              "type": "string",
              "value": "={{ $json.summary || \"Rendez-vous client\" }}"
            },
            {
              "id": "description-field",
              "name": "description",
              "type": "string",
              "value": "={{ $json.description || \"\" }}"
            },
            {
              "id": "start-date-field",
              "name": "start_date",
              "type": "string",
              "value": "={{ $json.start.dateTime || $json.start.date }}"
            },
            {
              "id": "end-date-field",
              "name": "end_date",
              "type": "string",
              "value": "={{ $json.end.dateTime || $json.end.date }}"
            },
            {
              "id": "location-field",
              "name": "location",
              "type": "string",
              "value": "={{ $json.location || \"\" }}"
            },
            {
              "id": "client-email-field",
              "name": "client_email",
              "type": "string",
              "value": "={{ $json.attendees ? $json.attendees.find(attendee => attendee.email !== \"catafs.si@gmail.com\")?.email : \"\" }}"
            },
            {
              "id": "meeting-link-field",
              "name": "meeting_link",
              "type": "string",
              "value": "={{ $json.hangoutLink || \"\" }}"
            }
          ]
        },
        "options": {}
      },
      "id": "81fd6447-0f39-414a-b8a8-06a79a95974b",
      "name": "Extraire données de l'événement",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2840,
        1140
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appwzBJaStXL5hlJP",
          "mode": "list",
          "cachedResultName": "CRM - CaningouIA V1",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP"
        },
        "table": {
          "__rl": true,
          "value": "tblSTDnjAvNRiiJ5G",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP/tblSTDnjAvNRiiJ5G"
        },
        "filterByFormula": "=(\n{Email} = \"{{ $json.client_email }}\"\n)",
        "options": {}
      },
      "id": "36343eed-ed1d-494e-abf8-a2c62304d0fa",
      "name": "Rechercher Client dans Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3100,
        1160
      ],
      "alwaysOutputData": true,
      "credentials": {
        "airtableTokenApi": {
          "id": "zYVUtJkQEXl8AiSy",
          "name": "Airtable catafs.si"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "client-exists-condition",
              "leftValue": "={{ $json.id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "5a4d2c69-f636-400e-a652-e2998f1ad701",
      "name": "IF Client Existe",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        3340,
        1160
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "calendar": {
          "__rl": true,
          "value": "catafs.si@gmail.com",
          "mode": "list",
          "cachedResultName": "catafs.si@gmail.com"
        },
        "eventId": "={{ $json.id }}",
        "options": {}
      },
      "id": "62a5c34a-0afe-4def-83d7-f95f2c4d9592",
      "name": "Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        2160,
        1080
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tABOD9zFimHW5aI4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Création d'un journal d'exécution pour traçabilité\ntry {\n  const currentTime = new Date().toISOString();\n  const logEntry = {\n    timestamp: currentTime,\n    event_type: \"google_calendar_to_crm\",\n    client_id: $input.first().json.id || \"client_not_found\",\n    opportunity_id: $input.first().json.id || \"opportunity_not_created\",\n    meeting_id: $node[\"Créer Rendez-vous\"].first() ? $node[\"Créer Rendez-vous\"].first().json.id : \"meeting_not_created\",\n    status: \"success\"\n  };\n  \n  // On pourrait sauvegarder ce journal dans un stockage persistant\n  // comme une base de données, un fichier, etc.\n  \n  return {json: {\n    success: true,\n    message: \"Événement agenda correctement synchronisé avec le CRM\",\n    log: logEntry\n  }};\n} catch (error) {\n  return {json: {\n    success: false,\n    message: \"Erreur lors de la synchronisation avec le CRM\",\n    error: error.message\n  }};\n}"
      },
      "id": "28629512-da6d-4ea1-b349-d7867f7d7a8d",
      "name": "Journal d'événements",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4320,
        1140
      ]
    },
    {
      "parameters": {},
      "id": "0e692c96-2de2-4eac-8228-236a1b3a07a7",
      "name": "Déclencheur Manuel",
      "type": "n8n-nodes-base.manualTrigger",
      "position": [
        1400,
        1400
      ],
      "typeVersion": 1,
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "event-id-field",
              "name": "event_id",
              "type": "string",
              "value": "NmY2M3BwMGhrZmhna3BpOTMxM2Q5ZGYzYWUgY2F0YWZzLnNpQG0"
            }
          ]
        },
        "options": {}
      },
      "id": "5088862e-1f12-40c1-9ce9-324b754e8a8b",
      "name": "Configuration Initiale",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1580,
        1400
      ],
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Workflow de Synchronisation Google Agenda vers CRM Airtable\n\nCe workflow automatise la récupération des rendez-vous Google Agenda pour les enregistrer dans le CRM Airtable.\n\n1. Un webhook est déclenché lors de la création/modification d'un événement dans Google Agenda\n2. Le workflow recherche le client dans Airtable via son email\n3. Il crée une opportunité associée au client\n4. Il crée un rendez-vous lié à cette opportunité\n\nLe processus est entièrement automatisé sans intervention manuelle.",
        "height": 280,
        "width": 820
      },
      "id": "8169c823-dd65-4fa1-9d81-b99227a0b2d1",
      "name": "Note Workflow",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1320,
        540
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Étape 1: Recherche du client\n\nRecherche si le client existe déjà dans la base de données Airtable en utilisant l'email des participants à l'événement.",
        "height": 180,
        "width": 300
      },
      "id": "7513e95d-3d11-45ff-857e-443edb1da059",
      "name": "Note Recherche Client",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2520,
        960
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Étape 2: Création de l'opportunité\n\nCrée une nouvelle opportunité liée au client trouvé. L'objectif est extrait de la description de l'événement.",
        "height": 180,
        "width": 300
      },
      "id": "2da000c6-6597-4a67-b43a-01a422c34064",
      "name": "Note Création Opportunité",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3080,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "## Étape 3: Création du Rendez-vous\n\nCrée un nouveau rendez-vous dans Airtable lié à l'opportunité. Le statut est automatiquement défini sur \"Prévu\".",
        "height": 180,
        "width": 300
      },
      "id": "4a1abe67-5cbe-43a8-a0e1-912c95b8f781",
      "name": "Note Création RDV",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        3400,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appwzBJaStXL5hlJP",
          "mode": "list",
          "cachedResultName": "CRM - CaningouIA V1",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP"
        },
        "table": {
          "__rl": true,
          "value": "tblk2mvsbAxPEzpud",
          "mode": "list",
          "cachedResultName": "Opportunités",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP/tblk2mvsbAxPEzpud"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Budget": 0,
            "Estimation Projet": 0,
            "Statut": "Tiede",
            "Client": "={{ [ $json.id ] }}",
            "Objectif": "={{ $node[\"Extraire données de l'événement\"].json.description }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Opportunité",
              "displayName": "ID_Opportunité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Code interne",
              "displayName": "Code interne",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "En cours",
                  "value": "En cours"
                },
                {
                  "name": "Fini",
                  "value": "Fini"
                },
                {
                  "name": "Abandonné",
                  "value": "Abandonné"
                },
                {
                  "name": "Payé",
                  "value": "Payé"
                },
                {
                  "name": "Froid",
                  "value": "Froid"
                },
                {
                  "name": "Tiede",
                  "value": "Tiede"
                },
                {
                  "name": "Chaud",
                  "value": "Chaud"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Budget",
              "displayName": "Budget",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estimation Projet",
              "displayName": "Estimation Projet",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Client",
              "displayName": "Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site web (from Client)",
              "displayName": "Site web (from Client)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Téléphone Mobile (from Client)",
              "displayName": "Téléphone Mobile (from Client)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email (from Client)",
              "displayName": "Email (from Client)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Devis",
              "displayName": "Devis",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Rendez-vous",
              "displayName": "Rendez-vous",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Objectif",
              "displayName": "Objectif",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3660,
        1140
      ],
      "id": "8227919f-c921-4f49-abd1-9ab5e37c2368",
      "name": "Créer Opportunité",
      "credentials": {
        "airtableTokenApi": {
          "id": "zYVUtJkQEXl8AiSy",
          "name": "Airtable catafs.si"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appwzBJaStXL5hlJP",
          "mode": "list",
          "cachedResultName": "CRM - CaningouIA V1",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP"
        },
        "table": {
          "__rl": true,
          "value": "tbl827bhk8GXgDIRd",
          "mode": "list",
          "cachedResultName": "Rendez-vous",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP/tbl827bhk8GXgDIRd"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Statut": "Prévu",
            "Titre": "{{ $node[\"Extraire données de l'événement\"].json.title }}",
            "Date du rendez-vous": "={{ $node[\"Extraire données de l'événement\"].json.start_date }}",
            "Objectif": "={{ $node[\"Extraire données de l'événement\"].json.description }}",
            "Opportunité": "={{ [ $json.id ] }}",
            "Lien meeting": "={{ $node[\"Extraire données de l'événement\"].json.meeting_link }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Rendez-vous",
              "displayName": "ID_Rendez-vous",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Reporté",
                  "value": "Reporté"
                },
                {
                  "name": "Prévu",
                  "value": "Prévu"
                },
                {
                  "name": "Annulé",
                  "value": "Annulé"
                },
                {
                  "name": "Fait",
                  "value": "Fait"
                },
                {
                  "name": "Imprévu",
                  "value": "Imprévu"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Objectif",
              "displayName": "Objectif",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Date du rendez-vous",
              "displayName": "Date du rendez-vous",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Titre",
              "displayName": "Titre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tl;dv video",
              "displayName": "tl;dv video",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "tl;dv transcript",
              "displayName": "tl;dv transcript",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Opportunité",
              "displayName": "Opportunité",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site web (from Client) (from Opportunité)",
              "displayName": "Site web (from Client) (from Opportunité)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Téléphone Mobile (from Client) (from Opportunité)",
              "displayName": "Téléphone Mobile (from Client) (from Opportunité)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Email (from Client) (from Opportunité)",
              "displayName": "Email (from Client) (from Opportunité)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Note du rendez-vous",
              "displayName": "Note du rendez-vous",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Notes",
              "displayName": "Notes",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Lien meeting",
              "displayName": "Lien meeting",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": true
        }
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3960,
        1140
      ],
      "id": "18757721-2e21-49e7-9b43-689979981142",
      "name": "Créer Rendez-vous",
      "credentials": {
        "airtableTokenApi": {
          "id": "zYVUtJkQEXl8AiSy",
          "name": "Airtable catafs.si"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "calendar": {
          "__rl": true,
          "value": "catafs.si@gmail.com",
          "mode": "list",
          "cachedResultName": "catafs.si@gmail.com"
        },
        "options": {}
      },
      "id": "60eb5984-b366-4bcb-9ba7-286546b1ea4b",
      "name": "Google Calendar1",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 1.2,
      "position": [
        2380,
        1400
      ],
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tABOD9zFimHW5aI4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "946d89cf-9256-401f-9a32-1b7c14e7f608",
              "leftValue": "={{ $json.start.dateTime }}",
              "rightValue": "={{ now }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2640,
        1420
      ],
      "id": "bf317780-4bc9-473c-abd0-2c367581e3ae",
      "name": "If"
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "catafs.si@gmail.com",
          "mode": "list",
          "cachedResultName": "catafs.si@gmail.com"
        },
        "triggerOn": "eventCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        1700,
        920
      ],
      "id": "76e49b0e-30e4-462f-a381-8efc546ca94f",
      "name": "Google Calendar Trigger",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tABOD9zFimHW5aI4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyX",
              "value": 5,
              "unit": "minutes"
            }
          ]
        },
        "calendarId": {
          "__rl": true,
          "value": "catafs.si@gmail.com",
          "mode": "list",
          "cachedResultName": "catafs.si@gmail.com"
        },
        "triggerOn": "eventUpdated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleCalendarTrigger",
      "typeVersion": 1,
      "position": [
        1700,
        1180
      ],
      "id": "e8e724bf-8f66-4f7f-9561-11e94a4c50c2",
      "name": "Google Calendar Trigger1",
      "credentials": {
        "googleCalendarOAuth2Api": {
          "id": "tABOD9zFimHW5aI4",
          "name": "Google Calendar account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Étape 0: Recherche du RDV\n\nRecherche le RDV pour préparer les données Airtable en utilisant l'email des participants à l'événement.",
        "height": 180,
        "width": 300
      },
      "id": "126a2c98-c5d8-460e-a498-064fd238cab7",
      "name": "Note Recherche Client1",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2080,
        880
      ],
      "typeVersion": 1
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appwzBJaStXL5hlJP",
          "mode": "list",
          "cachedResultName": "CRM - CaningouIA V1",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP"
        },
        "table": {
          "__rl": true,
          "value": "tblSTDnjAvNRiiJ5G",
          "mode": "list",
          "cachedResultName": "Clients",
          "cachedResultUrl": "https://airtable.com/appwzBJaStXL5hlJP/tblSTDnjAvNRiiJ5G"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Ebook demandé": false,
            "Ebook envoyé": false,
            "Code postal": 0,
            "Statut": "Nouveau",
            "Email": "={{ $('Extraire données de l\\'événement').item.json.client_email }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID_Client",
              "displayName": "ID_Client",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            },
            {
              "id": "Statut",
              "displayName": "Statut",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Nouveau",
                  "value": "Nouveau"
                },
                {
                  "name": "Contacté",
                  "value": "Contacté"
                },
                {
                  "name": "Prospect",
                  "value": "Prospect"
                },
                {
                  "name": "Client",
                  "value": "Client"
                },
                {
                  "name": "A répondu",
                  "value": "A répondu"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom de l'entreprise",
              "displayName": "Nom de l'entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Nom du contact",
              "displayName": "Nom du contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Prénom du contact",
              "displayName": "Prénom du contact",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Téléphone Mobile",
              "displayName": "Téléphone Mobile",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Télélphone Fixe",
              "displayName": "Télélphone Fixe",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Adresse",
              "displayName": "Adresse",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ville",
              "displayName": "Ville",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Code postal",
              "displayName": "Code postal",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Opportunités",
              "displayName": "Opportunités",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Suivi Actions Clients",
              "displayName": "Suivi Actions Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Projets Clients",
              "displayName": "Projets Clients",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "LinkedIn",
              "displayName": "LinkedIn",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Faccebook",
              "displayName": "Faccebook",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Instagram",
              "displayName": "Instagram",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Tweeter (X)",
              "displayName": "Tweeter (X)",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Site web",
              "displayName": "Site web",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ebook demandé",
              "displayName": "Ebook demandé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Ebook envoyé",
              "displayName": "Ebook envoyé",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "boolean",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "secteur",
              "displayName": "secteur",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "taille_entreprise",
              "displayName": "taille_entreprise",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "chiffre_affaires",
              "displayName": "chiffre_affaires",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Commentaire",
              "displayName": "Commentaire",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "reccord_id",
              "displayName": "reccord_id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        3700,
        1400
      ],
      "id": "82911285-ee4b-44a5-9f04-d208c546e692",
      "name": "Airtable",
      "credentials": {
        "airtableTokenApi": {
          "id": "zYVUtJkQEXl8AiSy",
          "name": "Airtable catafs.si"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "ef0cdd44-ffd9-4a57-996c-2bbe1cd97c22",
              "leftValue": "={{ $json.start.dateTime }}",
              "rightValue": "={{ $now}}",
              "operator": {
                "type": "dateTime",
                "operation": "afterOrEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2460,
        1160
      ],
      "id": "0fb71fe6-25d9-403b-a4ac-e252266a957a",
      "name": "If1"
    }
  ],
  "pinData": {},
  "repo_name": "CanigouIA",
  "repo_owner": "terryble66",
  "repo_path": "2025/04/4IFFl6N4MPBnecov.json",
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Google Calendar Trigger": {
      "lastTimeChecked": "2025-05-16T21:50:14Z"
    },
    "node:Google Calendar Trigger1": {
      "lastTimeChecked": "2025-05-16T21:45:55Z"
    }
  },
  "tags": [],
  "triggerCount": 2,
  "updatedAt": "2025-05-14T20:02:02.222Z",
  "versionId": "9eb5b6a0-c88d-4bfb-8135-710380da4fff"
}